body{
        font-family:'Times New Roman', Times, serif;
    } 
    
 @media screen and (max-width: 600px){   
    .wrapper{
        display: grid;
        
    }
}
.headline{
    font-size: large;
    text-align: center;
    color: rgb(74, 41, 120);
    font-weight:bold;
}


.toggle {
    position : relative ;
    display : inline-block;
    width : 60px;
    height : 30px;
    background-color: rgb(25,1, 255);
    border-radius: 30px;
    border: 2px solid gray;
}
.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
.checkbox:checked + .toggle::after {
    left : 30px;
}
.checkbox:checked + .toggle {
    background-color: rgb(17, 0, 128);
}
.checkbox {
    display : none;
    align-items: center;

}




.single-price{
    
    width: 250px;
    background: #fdfdfd;
    float:left;
    margin-top: 6rem;
    /* margin-left: 10px; */
    margin-right: 10px;
    box-shadow: 0.5px 0.5px 7px rgb(4, 16, 253);
    /* text-align: center; */
    border-radius: 1em;
    
    
}


.single-price h1{
    font-size: 18px;
    color: rgb(46, 97, 216);
    line-height: 3;
    text-transform: uppercase;
}
.price h2{
    font-size: 38px;
    color: rgb(8, 8, 8);

}
span{
    font-size: 28px;

}
.deals h4{
    font-size: 18px;
    font-weight:bold;   
    color: rgb(2, 33, 104);   
}

.single-price a{
    text-decoration: none;
    background: #45599b;
    color: #fff;
    padding: 8px 50px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

